---
// Social Proof Section
// ------------
// Description: A section with logos of social media platforms to enchance the trust of the users.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import { Image } from 'astro:assets'

// Content
import airbnb from '../../../assets/logos/airbnb-logo.svg'
import booking from '../../../assets/logos/booking-logo.svg'
import leadingcourses from '../../../assets/logos/leadingcourses-logo.svg'
import skyscanner from '../../../assets/logos/skyscanner-logo.svg'
import golfnl from '../../../assets/logos/golfnl-logo.svg'

const images = [
	{
		image: airbnb,
		alt: 'Airbnb logo'
	},
	{
		image: booking,
		alt: 'Booking.com logo'
	},
	{
		image: golfnl,
		alt: 'Golf.nl logo'
	},
	{
		image: leadingcourses,
		alt: 'Leading Courses logo'
	},
	{
		image: skyscanner,
		alt: 'Skyscanner logo'
	}
]

// Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Section id="overmij" padding="top" classes={classes + ' pt-32'}>
	<Row>
		<Col span="12" align="center">
			<h2 class="!mb-6 text-xl font-normal text-neutral-400 dark:text-neutral-600">
				Boek via <strong class="highlight">jouw favoriete</strong> platformen:
			</h2></Col
		>
	</Row>
	<Row flex classes="!flex-row">
		{
			images.map((item) => (
				<Col>
					<Image src={item.image} alt={item.alt} />
				</Col>
			))
		}
	</Row>
</Section>
