---
// Basic Dark Call To Action section
// ------------
// Description: A centered call to action section that contains: a title, text, background image, notification and a button.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import CTA from '../../ui/CTA.astro'
import Button from '../../ui/Button.astro'
import ChipNotification from '../../ui/ChipNotification.astro'
import { Image } from 'astro:assets'
import Highlight from '../../ui/Highlight.astro'

// Content
import ctaImage from '../../../assets/testimonial-bg-01.png'
import badge from '../../../assets/badge.svg'
---

<Section>
	<Row>
		<Col span="1" />
		<Col span="10">
			<CTA
				title="Ook een golftrip op maat?"
				text="Ontdek hoe ik jou kan helpen aan een unieke golfervaring — afgestemd op jouw wensen én budget."
				mode="dark"
				bg={ctaImage}
			>
				<Button size="lg" style="primary" link="/contact"> Start je aanvraag! </Button>
			</CTA>
		</Col>
		<Col span="1" />
	</Row>
</Section>
