---
import ToggleTest from '../components/ToggleTest.jsx';
---

<html lang="nl">
  <head>
    <title>Toggle Test</title>
  </head>
  <body class="p-10 font-sans">
    <h1 class="text-xl font-bold mb-4">Toggle Test</h1>
    <ToggleTest />
  </body>
</html>
